<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PawPanel</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<div th:replace="~{fragments/navbar :: navigation}"></div>
	<div class="head"><h1>Assign Judge to Dog</h1></div>

    <form action="/assignJudge" method="post">
        <label for="dog">Select Dog:</label>
        <select name="dog" id="dog">
            <th:block th:each="dog : ${dogs}">
                <option th:value="${dog.id}" th:text="${dog.name}"></option>
            </th:block>
        </select>
        <br><br><br>

        <label for="judge">Select judge:</label>
        <select name="judge" id="judge">
            <th:block th:each="judge : ${judges}">
                <option th:value="${judge.id}" th:text="${judge.name}"></option>
            </th:block>
        </select>
        <br><br>

        <button type="submit">Assign judge</button>
    </form>
		<br>
            <!--footer-->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>

