<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PawPanel</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/features/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="color: var(--accent); background-color: var(--primary-color);">
  <header>	<div th:replace="~{fragments/navbar :: navigation}"></div></header>

    <section class="py-5 text-center container">
        <div class="row py-lg-5 align-items-center">
            <div class="col-lg-6 col-md-6">
                <h1 class="fw-light">Welcome to PawPanel</h1>
                <p class="lead text-muted">Effortlessly manage show participants, from proud owners to expert judges — and, of course, their remarkable dogs. Explore the full roster below and keep every detail organized, accurate, and ready for showtime.</p>
              
              </div>
            <div class="col-lg-6 col-md-6">
                <img src="images/PawPanel.png" alt="Logo" class="img-fluid mb-4" style="width: auto; height: auto;">
            </div>
        </div>
    </section>
  <!--Key Features-->
  <section >
    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom">Key Features</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="col">
            <img src="images/dog.png" alt="Logo" class="img-fluid mb-4" style="width: auto; height: auto;">
          </div>
          <h2>Dog Registration</h2>
          <p>Add, edit, and track dogs participating in the show — all in one place.</p>
          <a th:href="@{/addDog}">
            Register Dog
          </a>
        </div>
        <div class="feature col">
          <div class="col">
            <img src="images/owner.png" alt="Logo" class="img-fluid mb-4" style="width: auto; height: auto;">
        </div>
          <h2>Owner Management</h2>
          <p>Register and manage dog owners, complete with full profiles and hist.</p>
          <a href="#" class="icon-link">
            Register Owner
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="feature col">
          <div class="col">
            <img src="images/judge.png" alt="Logo" class="img-fluid mb-4" style="width: auto; height: auto;">
        </div>
          <h2>Judge Assignment</h2>
          <p>Assign expert judges to specific dogs and maintain fair evaluations.</p>
          <a th:href="@{/assignJudge}" class="icon-link">
            Assign Judge
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="b-example-divider"></div>
<!--location information-->
    <section style="background-color: var(--accent);">
      <div class="container">
        <div class="row mb-4 py-4 ">
          <div class="col text-center text-dark">
              <h2 class="fw-bold">  Find Us Here</h2>
          </div>
      </div>
        <div class="row pb-5">
              <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23164.36310212573!2d-79.7081600074666!3d43.47008739297464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b5d28315b07cd%3A0xffcd239cf878470e!2sSheridan%20College%20Trafalgar%20Campus!5e0!3m2!1sen!2sca!4v1746731638235!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        </div>
    </section>

    <!--footer-->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>