<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dog Show Schedules</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<div class="head"><h1>Assign Owner to Dog</h1></div><br><br>
    <form action="/assignOwner" method="post">
        <label for="dog">Select Dog:</label>
        <select name="dog" id="dog">
            <th:block th:each="dog : ${dogs}">
				<option th:value="${dog.id}" th:text="${dog.name}" th:if="${dog.owner == null}"></option>

            </th:block>
        </select>
        <br><br><br>

        <label for="owner">Select Owner:</label>
        <select name="owner" id="owner">
            <th:block th:each="owner : ${owners}">
                <option th:value="${owner.id}" th:text="${owner.firstName}"></option>
            </th:block>
        </select>
        <br><br>

        <button type="submit">Assign Owner</button>
    </form>
    
    <br>
    <a th:href="@{/}">Home</a> 
</body>
</html>
